#terminal-container {
    display: block;
    width: calc(100% - 1px);
    margin: 0 auto;
    padding: 2px;
}

#terminal-container .terminal {
    background-color: #000000;
    color: #fafafa;
    padding: 2px;
}

#terminal-container.terminal-disconnected .terminal {
    filter: blur(1px) brightness(0.8);
}

#terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}
